.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 45vh; /* 화면의 높이에 따라 조절 */
}

.CoinContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .Coin {
    width: 45px;
    height: 45px;
    background-image: url("https://i.postimg.cc/9Fqfv895/euro.webp");
    background-size: cover;
    position: absolute;
    left: calc(50%);
    animation: drop 5.5s infinite; 
  }
  
  @keyframes drop {
    0% { transform: translateY(-100vh); } /* 시작 위치 */
    100% { transform: translateY(70vh); } /* 최종 위치 */
  }
  
  .fade-enter {
    opacity: 0;
    transform: translateY(100%);
  }
  
  .fade-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
  }

